<head>
	<link rel="stylesheet" href="/css/daily.css">
</head>

<div id="window">
	<div id="dragdrop_even_taget">
	</div>
	<div class="note" id="L1">
		<div class="L1_class date" id="L1_date"><%= L1_date %></div>
		<div class="L1_class content" id="L1_content"><%= L1_content %></div>
		<div class="L1_class question" id="L1_question"><%= L1_question %></div>
	</div>
	<div class="note" id="L2">
		<div class="L2_class date" id="L2_date"><%= L2_date %></div>
		<div class="L2_class content" id="L2_content"><%= L2_content %></div>
		<div class="L2_class question" id="L2_question"><%= L2_question %></div>
	</div>
	<div class="note" id="L3">
		<div class="L3_class date" id="L3_date"><%= L3_date %></div>
		<div class="L3_class content" id="L3_content"><%= L3_content %></div>
		<div class="L3_class question" id="L3_question"><%= L3_question %></div>
	</div>
	<div class="note" id="L4">
		<div class="L4_class date" id="L4_date"><%= L4_date %></div>
		<div class="L4_class content" id="L4_content"><%= L4_content %></div>
		<div class="L4_class question" id="L4_question"><%= L4_question %></div>
	</div>
	<div class="note" id="R1">
		<div class="R1_class date" id="R1_date"><%= R1_date %></div>
		<div class="R1_class content" id="R1_content"><%= R1_content %></div>
		<div class="R1_class question" id="R1_question"><%= R1_question %></div>
	</div>
	<div class="note" id="R2">
		<div class="R2_class date" id="R2_date"><%= R2_date %></div>
		<div class="R2_class content" id="R2_content"><%= R2_content %></div>
		<div class="R2_class question" id="R2_question"><%= R2_question %></div>
	</div>
	<div class="note" id="R3">
		<div class="R3_class date" id="R3_date"><%= R3_date %></div>
		<div class="R3_class content" id="R3_content"><%= R3_content %></div>
		<div class="R3_class question" id="R3_question"><%= R3_question %></div>
	</div>
	<div class="note" id="R4">
		<div class="R4_class date" id="R4_date"><%= R4_date %></div>
		<div class="R4_class content" id="R4_content"><%= R4_content %></div>
		<div class="R4_class question" id="R4_question"><%= R4_question %></div>
	</div>
	<div id="side_bar">
	</div>

	<div id="navigate_button">
		<div class="navigate_button" id="up_button">
		UP
		</div>
		<div class="navigate_button" id="down_button">
		DOWN
		</div>
		<div class="navigate_button" id="left_button">
		LEFT
		</div>
		<div class="navigate_button" id="right_button">
		RIGHT
		</div>
		<div class="navigate_button" id="today_button">
		TODAY
		</div>
	</div>

	<div id="keyboard_shortcut_help">
	keyboard_shortcut
	<br>
	help
	</div>
</div>

<div id="keyboard_shortcut_help_result">
<br>
<br>
"Navigate your note WITH"
<br>
: Shift + ArrowKey
<br>
<br>
<br>
"Select your note's WITH"
<br>
(left-side)
: Shift + [1 q a z]
<br>
(right-side)
: Shift + [2 w s x]
<br>
<br>
...and then...
<br>
<br>
"Open & Close red-line selected note's content WITH"
<br>
: Enter
</div>

<form id="navigate_page" action="" method="post">
	<input type="hidden" name="" value="">
</form>


<% let index_year_ = index_year; %>
<% let index_month_ = index_month; %>
<% let index_date_ = index_date; %>
<% let user_id_ = user_id; %>

<%# comment: When I tried to define variables below at alias.js file(which is inserted in this.ejs), I couldn't use ejs tag to get argument(which is object) from res.render method %>
<script>
	const index_year = <%= index_year %>;
	const index_month = <%= index_month %>;
	const index_date = <%= index_date_ %>;
	const user_id = <%= user_id %>;
</script>


<script type="text/javascript" src="/js/daily/alias.js"></script>
<script type="text/javascript" src="/js/daily/public_event.js"></script>
<script type="text/javascript" src="/js/daily/navigation.js"></script>
<script type="text/javascript" src="/js/daily/navigation_dragdrop.js"></script>
<script type="text/javascript" src="/js/daily/navigation_button.js"></script>
<script type="text/javascript" src="/js/daily/navigation_keyboard.js"></script>
